USE [master]
GO
/****** Object:  Database [projeto_clinica]    Script Date: 04/12/2023 11:41:52 ******/
CREATE DATABASE [projeto_clinica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projeto_clinica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\projeto_clinica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projeto_clinica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\projeto_clinica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projeto_clinica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projeto_clinica]
GO
/****** Object:  Table [dbo].[tb_consultas]    Script Date: 04/12/2023 11:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_consultas](
	[id_consulta] [int] IDENTITY(1,1) NOT NULL,
	[nome_paciente] [varchar](80) NULL,
	[nome_medico] [varchar](80) NULL,
	[data_consulta] [date] NULL,
	[sintomas] [varchar](200) NULL,
	[horario] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_consulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_usuarios]    Script Date: 04/12/2023 11:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_usuarios](
	[cpf] [varchar](14) NOT NULL,
	[nome] [varchar](80) NULL,
	[data_nasc] [date] NULL,
	[email] [varchar](80) NULL,
	[senha] [varchar](20) NULL,
	[rsenha] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo_conta]    Script Date: 04/12/2023 11:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo_conta](
	[id_conta] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NULL,
	[cpf] [varchar](14) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_conta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tipo_conta]  WITH CHECK ADD FOREIGN KEY([cpf])
REFERENCES [dbo].[tb_usuarios] ([cpf])
GO
USE [master]
GO
